<a href="https://colab.research.google.com/github/manasvideshmukh/ML-from-Scratch/blob/main/linearRegressionOneVariable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/Salary_dataset.csv')

In [4]:
print(data.head())

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [5]:
print(data)

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [6]:
 X = data['YearsExperience'].values
 Y = data['Salary'].values

In [13]:
w = 10000
b = 20000

In [14]:
def predict(X, w, b):
  Y_pred = w * X + b
  return Y_pred

In [15]:
for i in range(5):
  print(f"Input: {X[i]} -> Prediction: {predict(X[i], w, b)}")

Input: 1.2000000000000002 -> Prediction: 32000.0
Input: 1.4 -> Prediction: 34000.0
Input: 1.6 -> Prediction: 36000.0
Input: 2.1 -> Prediction: 41000.0
Input: 2.3000000000000003 -> Prediction: 43000.0